<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <!--  Row 1 -->


    <div class="row">
        <div class="col-lg-12 d-flex">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">Ration Details</h5>
                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Name Of Item</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Item Description</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Total Quantity (in Kg)</h6>
                                </th>

                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Availability</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Price (Per Kg)</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Item Image</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Edit Details</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Delete Item</h6>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in rat %}
                            <tr>
                                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{i.Ration}}</h6></td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">{{i.R_Desc}}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">{{i.R_Quant}}</h6>
                                </td>

                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <h6 class="fw-semibold mb-0 fs-4">{{i.R_Avail}}</h6>

                                    </div>
                                </td>
                                <td class="border-bottom-0">
                                    <div class="d-flex align-items-center gap-2">
                                        <h6 class="fw-semibold mb-0 fs-4">{{i.R_Price}}</h6>

                                    </div>
                                </td>
                                <td class="border-bottom-0">
                                    <img src="{{i.R_Image.url}}" width="100px" height="100px">
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">
                                        <a href="{% url 'Edit_Ration' r_id=i.id %}">
                                            <button type="button" class="btn btn-info m-1">Edit</button>
                                        </a>
                                    </h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">
                                        <a href="{% url 'Delete_Ration' r_id=i.id %}">
                                            <button type="button" class="btn btn-danger m-1">Delete</button>
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}