<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <!--  Row 1 -->


    <div class="row">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <h5 class="card-title fw-semibold mb-4">User Details</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Name</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Shop ID</h6>
                                </th>


                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Mobile</h6>
                                </th>

                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Image</h6>
                                </th>

                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Actions</h6>
                                </th>


                            </tr>
                            </thead>
                            <tbody>
                            {% for i in dp %}
                            <tr>
                                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{i.D_Partner}}</h6></td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-1">{{i.D_Shop}}</h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">{{i.D_Phone}}</h6>
                                </td>

                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4"><img src="{{i.D_Pic.url}}" width="100px" height="100px"></h6>
                                </td>


                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0 fs-4">
                                        <a href="{% url 'DeletePartner' p_id=i.id %}">
                                            <button type="button" class="btn btn-danger m-1">Delete</button>
                                        </a>
                                    </h6>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}