<!DOCTYPE html>
{% extends 'Index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Edit Stock Details</h5>
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'Update_Ration' r_id=rt.id %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Name Of Item</label>
                                <input type="text" value="{{rt.Ration}}" class="form-control" name="rname"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Item Description</label>
                                <input type="text" name="rdesc" value="{{ rt.R_Desc }}" class="form-control"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Total Quantity (in Kg)</label>
                                <input type="number" name="rquant" class="form-control" id="exampleInputEmail1"
                                       value="{{ rt.R_Quant }}" aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Currently Available?</label>
                                <select class="form-control" name="ravail">
                                    <option>{{rt.R_Avail}}</option>
                                    <option> Item Is Available</option>
                                    <option> Item Is Not Available</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Price (Per Kg)</label>
                                <input type="number" value="{{rt.R_Price}}" name="rprice" class="form-control" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Upload Item Image</label>
                                <img src="{{rt.R_Image.url}}" width="100px" height="100px">
                                <input type="file" name="rimage" class="form-control" aria-describedby="emailHelp">
                            </div>

                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
{% endblock %}