<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:skyblue;">
<div class="container">
    <div style="text-align:center;height:500px;">
        <h1>Verify Your OTP !!</h1>
        <form action="{% url 'verify_shop_otp' %}" method="post" style="margin-top:150px;">
            {% csrf_token %}
            <input type="text" name="otp" placeholder="Enter the OTP"> <br><br>
            <button type="submit">Verify</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
<script>
	{% for message in messages %}
        Swal.fire({
            title: '{{ message.tags|title }}',
            text: '{{ message }}',
            icon: '{{ message.tags }}',
            confirmButtonText: 'OK'
        });
    {% endfor %}
</script>
{% endif %}
</body>
</html>

